aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
fastapi==0.73.0
frozenlist==1.3.0
h11==0.13.0
idna==3.3
multidict==6.0.2
pydantic==1.9.0
requests==2.27.1
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.17.1
timeago==1.0.15
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.4
yarl==1.7.2
